<div class="filtro">
  <div class="box-filtro">
    <mat-form-field appearance="outline">
      <mat-label>Escolha o mês</mat-label>
      <mat-select [(ngModel)]="mesAtual" (selectionChange)="atualizar()">
        <mat-option [value]="mes" *ngFor="let mes of meses">{{mes}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="box-filtro">
    <mat-form-field appearance="outline">
      <mat-label>Escolha o ano</mat-label>
      <mat-select [(ngModel)]="anoAtual" (selectionChange)="atualizar()">
        <mat-option [value]="ano" *ngFor="let ano of anos">{{ano}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<div class="conteudo">
  <div class="box-coluna">
    <table>
      <tr>
        <th>
          <div class="infos">
            <span>
              {{"CONTAS " + mesAtual}}
            </span>
            <button class="botao-icone">
              <mat-icon (click)="adicionarNovoValor(false)">add_circle_outline</mat-icon>
            </button>
          </div>
        </th>
        <th>
          <div class="infos">
            PAGAR
          </div>
        </th>
        <th>
          <div class="infos">
            PAGO
          </div>
        </th>
      </tr>
      <tr *ngFor="let p of contasSaida?.rows">
        <td>
          <div class="infos">
            <span>
              {{p.nome}}
            </span>
            <div class="botoes">
              <button class="botao-icone">
                <mat-icon (click)="editarValor(false, p)">edit</mat-icon>
              </button>
              <button class="botao-icone">
                <mat-icon (click)="excluirValor(false, p)">delete</mat-icon>
              </button>
            </div>

          </div>
        </td>
        <td> {{!p.pago ? (p.valor | number : '1.2-2') : (0 | number : '1.2-2') }}</td>
        <td> {{p.pago ? (p.valor | number : '1.2-2') : (0 | number : '1.2-2') }}</td>
      </tr>
    </table>
    <mat-paginator *ngIf="contasSaida?.count >= 5" [length]="contasSaida?.count"
               [pageSize]="limite"
               [pageSizeOptions]="pagOpcoes"
               (page)="paginacao($event, false)"
               aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="box-coluna">
    <table>
      <tr>
        <th>
          <div class="infos">
            <span>
              ENTRADA
            </span>
            <button class="botao-icone">
              <mat-icon (click)="adicionarNovoValor(true)">add_circle_outline</mat-icon>
            </button>
          </div>
        </th>
        <th>
          <div class="infos">
            VALOR
          </div>
        </th>
      </tr>
      <tr *ngFor="let p of contasEntrada?.rows">
        <td>
          <div class="infos">
            <span>
              {{p.nome}}
            </span>
            <div class="botoes">
              <button class="botao-icone">
                <mat-icon (click)="editarValor(true, p)">edit</mat-icon>
              </button>
              <button class="botao-icone">
                <mat-icon (click)="excluirValor(true, p)">delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
        <td> {{(p?.valor | number : '1.2-2') }}</td>
      </tr>
    </table>
    <mat-paginator *ngIf="contasEntrada?.count >= 5" [length]="contasEntrada?.count"
               [pageSize]="limite"
               [pageSizeOptions]="pagOpcoes"
               (page)="paginacao($event, true)"
               aria-label="Select page">
    </mat-paginator>
  </div>
</div>

<div class="conteudo">
  <div class="box-resumo">
    <table>
      <tr>
        <th>
          <div class="infos">
            TOTAL À PAGAR
          </div>
        </th>
        <th>
          <div class="infos">
            TOTAL PAGO
          </div>
        </th>
        <th>
          <div class="infos">
            TOTAL ENTRADA
          </div>
        </th>
        <th>
          <div class="infos">
            TOTAL CAIXA
          </div>
        </th>
      </tr>
      <tr>
        <td> {{contasResumo.somaPagar | number : '1.2-2'}}</td>
        <td> {{contasResumo.somaPago | number : '1.2-2'}}</td>
        <td> {{contasResumo.somaEntrada | number : '1.2-2'}}</td>
        <td [ngStyle]="{'color': (contasResumo.caixa < 0) ? 'red' : 'green'}">
          {{contasResumo.caixa | number : '1.2-2'}}
        </td>
      </tr>
    </table>
  </div>
</div>
