@import "../../../../../../styles/colores.scss";
@import "../../../../../../styles/styles.scss";
.filtro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-top: 1rem;
  justify-content: flex-start;
  .box-filtro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    // width: 25%;
    margin-right: 0.25rem;
  }
}

.conteudo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
  .box-coluna {
    display: flex;
    flex-direction: column;
    width: 49%;
  }
  .box-resumo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

td, th {
  color: $cor-principal;
  border: 1px solid $cor-principal;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $cor-secundaria;
}

@media screen and (max-width: 600px) {
  .conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    .box-coluna {
      width: 100%;
    }
  }
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
}


.botoes {
  background-color: transparent;
  border: none;
  .mat-icon {
    color: $cor-principal;
  }
}
